body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

main {
  margin: 4rem auto;
  max-width: 650px;
  width: 90vw;
}

a {
  text-decoration: none;
}

.note {
  padding: 14px 20px;
  margin: 28px 0;
  background-color: palegoldenrod;
}

footer {
  color: #444;
  font-size: 0.875rem;
  text-align: center;
  padding: 12px 18%;
}

.buy-button {
  display: inline-block;
  min-width: 180px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 18px;
  background: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 14px;
  text-align: center;
  font-style: normal;
}

.sold-out.buy-button {
  opacity: 0.3;
  pointer-events: none;;
}

.call-to-buy {
  display: block;
  text-align: center;
  padding: 0 18%;
}

.product {
  text-align: center;
  font-style: italic;
  font-size: 80%;
}